In [14]:
# A Python Program for a table for a class of 20 students

import pandas as pd

# Table for Girls only
Students_Girls = [ ['Evelyn', 17, 5.5, 80], ['Jessia', 16, 6.0, 85], ['Somto', 17, 5.4, 70], ['Edith', 18, 5.9, 60],
            ['Liza', 18, 5.5, 76], ['Madonna', 17, 5.6, 66], ['Waje', 20, 6.1, 87], ['Tola', 19, 6.0, 95],
            ['Aisha', 17, 5.7, 50], ['Latifa', 17, 5.5, 49] ]
# Table for Boys only
Students_Boys = [ ['Chinedu', 19, 5.7, 74], ['Liam', 16, 5.9, 87], ['Wale', 18, 5.8, 75], ['Gbenga', 17, 6.1, 68], ['Abiola', 20, 5.9, 66], ['Kola', 19, 5.5, 78],
                ['Kunle', 16, 6.1, 87], ['George', 18, 5.4, 98], ['Thomas', 17, 5.8, 64], ['Wesley', 19, 5.7, 60] ]

# Table for both boys and girls
Students = [ ['Evelyn', 17, 5.5, 80], ['Jessia', 16, 6.0, 85], ['Somto', 17, 5.4, 70], ['Edith', 18, 5.9, 60],
            ['Liza', 18, 5.5, 76], ['Madonna', 17, 5.6, 66], ['Waje', 20, 6.1, 87], ['Tola', 19, 6.0, 95],
            ['Aisha', 17, 5.7, 50], ['Latifa', 17, 5.5, 49], ['Chinedu', 19, 5.7, 74], ['Liam', 16, 5.9, 87],
            ['Wale', 18, 5.8, 75], ['Gbenga', 17, 6.1, 68], ['Abiola', 20, 5.9, 66], ['Kola', 19, 5.5, 78],
            ['Kunle', 16, 6.1, 87], ['George', 18, 5.4, 98], ['Thomas', 17, 5.8, 64], ['Wesley', 19, 5.7, 60] ]

# DataFrame for girls is 'df1'
df1 = pd.DataFrame(Students_Girls, columns=['Name', 'Age', 'Height', 'Score'])

# Show the table
print(df1)

# DataFrame for boys is 'df2'
df2 = pd.DataFrame(Students_Boys, columns=['Name', 'Age', 'Height', 'Score'])
# show the table
print(df2)

# DataFrame for both boys and girls is 'df3'
df3 = pd.DataFrame(Students, columns=['Name', 'Age', 'Height', 'Score'])
# show the table
print(df3)

      Name  Age  Height  Score
0   Evelyn   17     5.5     80
1   Jessia   16     6.0     85
2    Somto   17     5.4     70
3    Edith   18     5.9     60
4     Liza   18     5.5     76
5  Madonna   17     5.6     66
6     Waje   20     6.1     87
7     Tola   19     6.0     95
8    Aisha   17     5.7     50
9   Latifa   17     5.5     49
      Name  Age  Height  Score
0  Chinedu   19     5.7     74
1     Liam   16     5.9     87
2     Wale   18     5.8     75
3   Gbenga   17     6.1     68
4   Abiola   20     5.9     66
5     Kola   19     5.5     78
6    Kunle   16     6.1     87
7   George   18     5.4     98
8   Thomas   17     5.8     64
9   Wesley   19     5.7     60
       Name  Age  Height  Score
0    Evelyn   17     5.5     80
1    Jessia   16     6.0     85
2     Somto   17     5.4     70
3     Edith   18     5.9     60
4      Liza   18     5.5     76
5   Madonna   17     5.6     66
6      Waje   20     6.1     87
7      Tola   19     6.0     95
8     Aisha   17     5.7     50
9    Latifa   17     5.5     49
10  Chinedu   19     5.7     74
11     Liam   16     5.9     87
12     Wale   18     5.8     75
13   Gbenga   17     6.1     68
14   Abiola   20     5.9     66
15     Kola   19     5.5     78
16    Kunle   16     6.1     87
17   George   18     5.4     98
18   Thomas   17     5.8     64
19   Wesley   19     5.7     60